<% @cats %>   
<div class="cat-show">
  <div class="cat-box">
    <h2 class="name">
      <%= cat.prefecture.name %> <%= cat.area %> <%= cat.place %>
    </h2>
      画像がたくさんある場合はスライドで見れるよ
    <div class='cat-img-content'>
      <% cat.images.each do |image|%>
        <%= image_tag image ,class:"cat-box-img" %>
      <% end %>
    </div>
    <div class= "cat-details">
      <%= link_to "詳しく見る",cat_path(cat.id), method: :get %>
    </div> 
</div>

