<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="cat-show">
  <div class="cat-box">
    <h2 class="name">
      <%= @cat.prefecture.name %> <%= @cat.area %> <%= @cat.place %>
    </h2>
    <div class='cat-img-content'>
      <%= image_tag @cat.image ,class:"cat-box-img" %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @cat.user_id %>
        <%= link_to '内容の編集', "#", method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
      <% end %>
    <% end %>

    <div class="cat-explain-box">
      <span><%= "投稿内容" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-cat">ニックネーム</th>
          <td class="detail-value"><%= @cat.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-cat">メッセージ</th>
          <td class="detail-value"><%= @cat.message %></td>
        </tr>
        <tr>
          <th class="detail-cat">都道府県</th>
          <td class="detail-value"><%= @cat.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-cat">市町村</th>
          <td class="detail-value"><%= @cat.area %></td>
        </tr>
        <tr>
          <th class="detail-cat">会えた場所</th>
          <td class="detail-value"><%= @cat.place %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な投稿の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-post-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-post-btn">
      後ろの投稿 ＞
    </a>
  </div>
  <a href=“#” class="another-prefecture"><%= @cat.prefecture.name %>をもっと見る</a>
</div>
<%= render "shared/footer" %>
