<%= render "shared/header" %>

<div class="cat-show">
  <div class="cat-box">
    
    <div class="cat-explain-box">
      <% if user_signed_in? %>
        <% if current_user.liked_by?(@cat.id) %>
          <td>
            <%= link_to destroy_like_path(@cat), class: "like-link", method: :DELETE do %>
              <i class="fa fa-heart like-btn-unlike"></i>
            <% end %>
          </td>
          <%= @cat.likes.count %>
        <% else %>
          <td>
            <%= link_to create_like_path(@cat), calss: "like-link", method: :POST do %>
              <i class="fa fa-heart like-btn"></i>
            <% end %>
            <%= @cat.likes.count %>
          </td>
        <% end %>
      <% end %>
      <h2 class="name">
        <%= @cat.prefecture.name %> <%= @cat.area %> <%= @cat.place %>
      </h2>
    </div>

      画像たくさんある場合はスライドで見れるよ
    <div class='cat-img-content'>
      <% @cat.images.each do |image|%>
        <%= image_tag image ,class:"cat-box-img" %>
      <% end %>
    </div>
    <div class="edit">
      <% if user_signed_in? %>
        <% if current_user.id == @cat.user_id %>
          <%= link_to '編集', edit_cat_path, method: :get, class: "item-red-btn" %>
          <%= link_to '削除', cat_path, method: :delete, class:'item-destroy' %>
        <% end %>
      <% end %>
    </div>
      
    
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-cat">ニックネーム</th>
          <td class="detail-value"><%= @cat.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-cat">メッセージ</th>
          <td class="detail-value"><%= @cat.message %></td>
        </tr>
        <tr>
          <th class="detail-cat">都道府県</th>
          <td class="detail-value"><%= @cat.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-cat">市町村</th>
          <td class="detail-value"><%= @cat.area %></td>
        </tr>
        <tr>
          <th class="detail-cat">会えた場所</th>
          <td class="detail-value"><%= @cat.place %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="comment-box">
    <% if user_signed_in? %>
      <p>< コメント一覧 ></p>
      <div id='comment' >
        <% @comments.each do |comment| %>
          <div class='comment-area'>
            <div class="nickname"><%= comment.user.nickname %></div>          
            <div class="comment"><%= comment.text %></div>
            <div class="delete"><%= link_to "削除", cat_comment_path(@cat, comment), method: :delete, class: "comment-delete" %></div>      
          </div>
        <% end %>
      </div>
    
      <%= form_with model: [@cat, @comment], class: 'form', local: true do |f| %>
        <%= f.text_area :text, class: "comment-text", id: "comment-text" %>
        <%= f.button type: "submit", class: "comment-btn" do %>
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <span>コメントする<span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="links">
    <% if @cat.previous.present? %>
      <%= link_to "＜前の猫", cat_path(@cat.previous), class: "change-post-btn" %>
    <% end %>
    <% if @cat.next.present? %>
      <%= link_to "次の猫＞", cat_path(@cat.next), class: "change-post-btn" %>
    <% end %> 
  </div> 
</div>
<%= render "shared/footer" %>
